.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.welcome-message {
  font-size: 18px;
  font-weight: 600;
}

.sub-title {
  font-size: 14px;
  font-weight: 400;
}
